@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-text-white m-0 font-minecraft antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }
}
